p {
	font-size: large; 
}

.MaPawagwaphs {
	display: flex;
	background: green;
	justify-content: space-between;
	width: 100%;
	height: 300px;
}
#BwackGwound {
	display: flex;
	background: blue;
	width: 50%;
}

/*#imagecowor {
	background: red;
	width: 20px;
	height: 20px;
}*/
.row-img {
	object-fit: contain;
}